h1 a {
	text-decoration: none;
	color: black;
}

h3 a {
	text-decoration: none;
	color: black;
}

#blog_left {
	margin-right: 220px;
}

#blog_right {
	width: 200px;
	float: right;
	overflow: auto;
}

.blog_post {
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
	padding: 10px;
	padding-top: 0;
}

.blog_post a {
	color: black;
}

.blog_post p {
	margin: 0;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}

.blog_post .info {
	font-style: italic;
	font-size: 11px;
	margin-top: 10px;
	display: block;
}

.menu {
	background: #f0f0f0;
	padding: 10px;
	font-size: 12px;

}

.menu li {
	margin:0;
	padding: 3px;
}

.menu a {
	text-decoration: none;
	color: black;
}

.menu .months {
	margin: 0;
	padding: 0;
	padding-left: 20px;
	list-style: none;
}

.years {
	padding: 0;
	margin: 0;
	list-style: none;
}

.months ul {
	margin: 0;
	padding: 0;
	padding-left: 20px;
	list-style: none;
}

.menu_title {
	font-family: Consolas, Inconsolata, "Lucida Console", "Courier New", monospace;
	font-size: 14px;
	color: black;
	font-weight: bold;
	text-transform: lowercase;
	background: #dadada;
	letter-spacing: 1px;
	padding: 5px;
	
	border-left: 2px solid #3d3d3d;
}