a.logo {
	display: inline-block;
	cursor:pointer;
	text-align: center;
	vertical-align:top;
}

#app_name {
	color: white;
	font-weight: bold;
	font-size: 32px;
	letter-spacing: 3px;
	font-family: Consolas, Inconsolata, "Lucida Console", "Courier New", monospace;
	margin-bottom: 10px;
	visibility: hidden;
}

#app_desc {
	color: white;
	visibility: hidden;
}