body {
	font-family: Verdana, arial;
	margin: 0;
	background: #a1a1a1;
	background-size: cover;
	background-attachment: fixed;
	font-size: 15px;
}

a {
	color: blue;
}

hr {
	border: 0;
	border-top: 1px solid #adadad;
}

#navigation {
	margin: 7px;
	margin-left: 0;
	float: left;
}

#navigation a {
	padding: 10px;
	text-decoration: none;
}

#toolbar {
	box-shadow: 0 1px 3px RGBA(0,0,0,.5);
	-moz-box-shadow: 0 1px 3px RGBA(0,0,0,.5);
	-webkit-box-shadow: 0 1px 3px RGBA(0,0,0,.5);
	background: white;
	overflow: hidden;
	text-decoration: none;
	font-size: 13px;
	font-weight: normal;
}

#toolbar div, #toolbar a {
	width: 90px;
	display: inline;
	height: 18px;
	padding: 8px 4px 4px 4px;
	float: left;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}



.green {
	color: darkgreen;
}

.green:hover {
	background: lightgreen;
	border-bottom: 4px solid darkgreen !important;
}

.teal {
	color: teal;
}

.teal:hover {
	background: lightblue;
	border-bottom: 4px solid teal !important;
}

.orange {
	color: darkorange;
}

.orange:hover {
	background: #ffd393;
	border-bottom: 4px solid darkorange !important;
}

.yellow {
	color: RGB(215,167,0);
}

.yellow:hover {
	background:RGB(255,220,100);
	border-bottom: 4px solid RGB(215,167,0) !important;
}

.red {
	color: red;
}

.red:hover {
	background: #ffc1c1;
	border-bottom: 4px solid red !important;
}

.grey {
	color: #3d3d3d;
}

.grey:hover {
	background: #dadada;
	border-bottom: 4px solid #adadad !important;
}

.repos-btn {
	float: right !important;
	background-image: url(/img/bitbucket.png) !important;
}

.home-btn {
	background-image: url(/img/home.png) !important;
}

.blog-btn {
	background-image: url(/img/blog.png) !important;
	float: right !important;
}

.button {
	width: 32px !important;
	background: white;
	background-repeat: no-repeat !important;
	background-position: center !important;
	border-bottom: 4px solid white;
}

.button:hover {
	background: #dadada;
	border-bottom: 4px solid #adadad !important;
}

h1 {
	font-weight: bold;
	letter-spacing: 3px;
	margin: 0;
	font-family: Consolas, Inconsolata, "Lucida Console", "Courier New", monospace;
	font-size: 36px;
}

h1 a {
	text-decoration: none;
	color: black;
}

h2 {
	font-weight: bold;
	margin: 0 0 15px;
	letter-spacing: 3px;
	font-family: Consolas, Inconsolata, "Lucida Console", "Courier New", monospace;
	font-size: 22px;
	padding: 6px 3px 3px 6px;
	border-left: 4px solid white;
	text-transform: lowercase;
}

h2 a {
	text-decoration: none;
	color: black;
}

h3 {
	font-family: Consolas, Inconsolata, "Lucida Console", "Courier New", monospace;
	text-transform: lowercase;
	padding: 6px 3px 3px 6px;
	font-size: 20px;
	letter-spacing: 3px;
	margin: 0 0 15px;
	font-weight: bold;
}

#content {
	background: white;
	margin: 20px;
	padding: 20px;
	width: 65%;
	position: relative;
	box-shadow: 0 1px 5px RGBA(0,0,0,.7);
	-moz-box-shadow: 0 1px 5px RGBA(0,0,0,.7);
	-webkit-box-shadow: 0 1px 5px RGBA(0,0,0,.7);
	min-width: 600px;
	margin: 20px auto;
	font-size: 14px;
	z-index: 1;
	overflow: auto;
}

p {
	margin: 20px 20px 20px 3px;
	padding: 0;
}

img {
	border: 0;
}

.blog_post h3 {
	border: 0;
	background: transparent;
	font-size: 20px;
	letter-spacing: 0;
}

#tooltip {
	background: white;
	display: none;
	padding: 0;
	position: absolute;
	height: 0;
	left: 0;
	top: 0;
	overflow: hidden;
	box-shadow: 0 1px 5px RGBA(0,0,0,.7);
	-moz-box-shadow: 0 1px 5px RGBA(0,0,0,.7);
	-webkit-box-shadow: 0 1px 5px RGBA(0,0,0,.7);
	font-size: 11px;
	text-align: left;
	z-index: 2;
	white-space: nowrap;
}

#screenshots-ul {
	margin: 0;
	padding: 0;
}

.thumbnail {
	display: inline;
	margin: 3px;
}

.thumbnail img {
	max-height: 128px;
}

#footer {
	margin-top: 20px;
	text-align: center;
	color: black;
	font-size: 12px;
	border-top: 1px solid #adadad;
	padding-top: 10px;
}

#footer img {
	vertical-align: middle;
}


pre {
	padding: 0;
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	padding-left: 25px;
	margin-bottom: 15px;
}